<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="ltr" xml:lang="pt-br" lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>DOTA 2 Feedback</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="cache-control" content="no-cache" />
        <%= stylesheet_link_tag 'application' %>
        <%= javascript_include_tag 'jquery', 'rails', 'cookies', 'application' %>
    </head>
    <body>
        <div id="loading"><span class="text">Loading...</span></div>
        <div id="wrapper">
            <div id="header" class="clear">
                <h1><%= link_to 'DOTA 2 Feedback', '/' %></h1>
                <span class="description">Vote for the DOTA 2 visual changes you like and dislike the most</span>
            </div>
            <%= yield %>
            <%= yield :ready %>
            <div class="footer c">
                DOTA 2 Feedback by <%= link_to 'Victor Cisneiros', 'http://www.victorcisneiros.com' %><br/>
                If you have any suggestions or pictures of a hero that is not listed here send it to my e-mail (victorcisneiros(at)gmail.com)
            </div>
        </div>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-6843380-9']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>

